  <div class="viewRoomsWrapper" style="display: flex; flex-wrap:wrap; justify-content:center; align-items:center">

      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/profilePicEx2.png" alt="Supriya Mutharasan">
  <div class="card-body">
    <h5 class="card-title">Supriya Mutharasan</h5>
    <p class="card-text">Need of some advice on how to manage migraines</p>
    <a href="https://cokato.herokuapp.com/room/100270ec-2ff9-4208-9fb7-6daf5e687baa" class="btn btn-primary">Join Room</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/profilePicEx.png" alt="Chloe Ting">
  <div class="card-body">
    <h5 class="card-title">Hosted By Chloe Ting</h5>
    <p class="card-text">Debate Me! Exercise is best after eating</p>
    <a href="" class="btn btn-primary">Join Room</a>
  </div>
</div>

    </div>