<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cokato</title>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <!-- GOOGLE ICONS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet" />

    <!--Social media icons Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/612fa9335b.js"></script>

    <!--Animation scroll-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--    INDEX.CSS   -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/roomListing.css" />

    <link rel="stylesheet" href="/styles/news.css" />

</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="home">
                    <img class="cokatoLogo" src="/assets/images/cokato.jpg" alt="Cokato Logo">
                </a>
                <div class="hamburgerMenu">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-times"></i>
                </div>
                <ul class="navList">
                    <li class="listItem">
                        <a href="/home" class="listLink">Home</a>
                    </li>
                    <li class="listItem">
                        <a href="/about" class="listLink">About</a>
                    </li>

                    {{#if registeredUser.validState}}
                    <li class="listItem">
                        <a href="/dashboard" class="listLink">Dashboard</a>
                    </li>
                    <li class="listItem">
                        <a href="/logout" class="listLink">Sign Out</a>
                    </li>
                    {{else}}
                    <li class="listItem">
                        {{!-- <a class="listLink" href="#0" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a> --}}
                        <a class="listLink" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a>
                    </li>
                    <li class="listItem">
                        {{!-- <a class="listLink" href="#1" data-toggle="modal" data-target="#modalLoginForm">Sign In</a> --}}
                        <a class="listLink" data-toggle="modal" data-target="#modalLoginForm">Sign In</a>
                    </li>
                    {{/if}}
                    <li class="listItem">
                        <a href="/shop" class="listLink">Shop</a>
                    </li>
                    <li class="listItem">
                        <a href="/news" class="listLink">News</a>
                    </li>
                    <li class="listItem">
                        <a href="/contactUs" class="listLink">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <main>

        {{> signIn }}
        {{> signUp }}

        {{{body}}}


    </main>

    <footer class="footer">
        <div class="container">
            <div class="footerWrapper">
                <div class="footerBrand">
                    <a href="home" class="clickConnectLogo">
                        <img class="cokatoLogo" src="/assets/images/cokato.jpg" alt="Cokato Logo">
                    </a>
                    <p id="footerParagraph">Seneca College Hackathon 2020 by Supriya Mutharasan and Guilherme Dias Simoes</p>
                </div>
                <div class="socialMediaWrapper">
                    <h4 class="footerHeading">
                        Follow Us
                    </h4>
                    <div class="socialMediaDisplay">
                        <ul>
                            <li class="socialMediaLink">
                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li class="socialMediaLink">
                                <a
                                    href="#"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li class="socialMediaLink">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="socialMediaLink">
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/src/home.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>

    <script>
        $(document).ready(function ()
        {
            if (window.location.href.indexOf('#modalRegisterForm') != -1) {
                $('#modalRegisterForm').modal('show');
            }
            if (window.location.href.indexOf('#modalLoginForm') != -1) {
                $('#modalLoginForm').modal('show');
            }
        });
    </script>
</body>

</html>