<!doctype html>
<html>

<head>
    <title>View Data</title>
    <style>
        form{
    width:70%;
    margin:0 auto;

}

form label{
    font-size: 1.5rem;

}

input,select,textarea{
    width: 100%;
    padding:1rem;
    margin-bottom:5px;
    border:none;
    outline-color: #fd57bf;
}

input[type="submit"]{
    width:initial;
    background-color: #fd57bf;
    color:#eee;
    padding:1rem 2rem;
    border-radius:0.8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    background-color: #221e3f;
    color: #ffe838;
}

#ContactUsDashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    </style>
</head>

<body>

    <section id="ContactUsDashboard" style="background-color:#70afcc">

       {{> contactForm}}
    </section>


</body>

</html>