<div class="mainContent">
        <div class="container">
            <div class="mainHeading">
                <h1 class="mainTitle">About us</h1>
                <h2 class="mainSubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus nulla id ante lacinia, id congue metus dapibus. Suspendisse daper
                </h2>
            </div>
        </div>
    </div>