{{#unless registeredUser.isAdmin}}
    <div class="mainContent">
        <div class="container">
            <div class="mainHeading">
                <h1 class="mainTitle">Welcome</h1>
                <h2 class="mainSubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus nulla id ante lacinia, id congue metus dapibus. Suspendisse daper
                </h2>
            </div>
            <a href="" class="btn gradientButton"> Explore Nearby
                <span class="btnEllipsisHorizontal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
            </a>
        </div>
    </div>
    {{else}}
    <div class="substituteMainContent">
        <div class="container">
        </div>
    </div>
    {{/unless}}

  <section class="searchForm">
    <div class="container">
      <form action="POST" action="" class="form" id="homeInputMainForm">

        <div class="inputFormContainer" id="homeInputForm">
          <label for="destination" class="inputLabel">Destination</label>
          {{!-- <input type="text" class="input" id="destination"> --}}
          <select name="destination" id="destinationSelection" class="options" onchange="showRoomListings(this.value)">
            <option value="">Select a Destination:</option>
            <option value="1990 Christ Street, Chennai, India">India</option>
            <option value="1999 DeckTheBells, North Pole">North Pole</option>
            <option value="1870  Pearl Street, Sacramento">United States</option>
          </select>
        </div>
       
      </form>
    </div>


  </section>

  {{!-- <section class="roomListingsByLocation">
    
  </section> --}}

